In [1]:
%%writefile txtreader.py

import pandas as pd
from meta import getMeta

def read_txt(filename):
    with open(filename, 'r') as file:
        raw_txt = file.read()

    txt = getDfTxt(raw_txt)
    
    mymeta = getMeta(filename)
    
    return mymeta, txt

def getDfTxt(raw_txt):

    # Splitting raw_txt into lines and removing any leading/trailing whitespaces
    lines = [line.strip() for line in raw_txt.split('\n')]

    # Extracting column names from the first line (assuming it contains headers)
    columns = [column.strip() for column in lines[0].split(',')]

    # Extracting data from subsequent lines
    data = [line.split(',') for line in lines[1:]]

    # Make DataFrame
    df = pd.DataFrame(data, columns=columns)
    return df

Overwriting txtreader.py

# Test - read txt

In [2]:
import txtreader

In [3]:
import os
pwd = os.getcwd()
path = pwd + "\\data"

In [4]:
file = path + "\\aadr.us.txt"
metadata, text = txtreader.read_txt(file)

In [5]:
metadata

{'created': '2024-02-06 11:00:16',
 'modified': '2024-02-06 10:30:54',
 'size': 72474}

In [6]:
text

            Date    Open    High      Low    Close Volume OpenInt
0     2010-07-21  24.333  24.333   23.946   23.946  43321       0
1     2010-07-22  24.644  24.644   24.362   24.487  18031       0
2     2010-07-23  24.759  24.759   24.314   24.507   8897       0
3     2010-07-26  24.624  24.624   24.449   24.595  19443       0
4     2010-07-27  24.477  24.517   24.431   24.517   8456       0
...          ...     ...     ...      ...      ...    ...     ...
1561  2017-11-07   57.29  57.346  57.1446   57.285  50935       0
1562  2017-11-08   57.31   57.55    57.22    57.49  71770       0
1563  2017-11-09   57.23   57.23    56.71  56.9265  53130       0
1564  2017-11-10   56.96   56.96  56.3909     56.4  29233       0
1565                None    None     None     None   None    None

[1566 rows x 7 columns]

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(columns = ['filetype','meta', 'text'])

In [9]:
df

Empty DataFrame
Columns: [filetype, meta, text]
Index: []

In [10]:
in_doc = [file]

In [11]:
ingestable = []
for uri in in_doc:
    mymeta, text = txtreader.read_txt(uri)
    ingestable.append(text)
    
    # Adding an index to the dataframe:
    df.loc[len(df.index)] = ['txt', mymeta, text]

In [12]:
df

,filetype,meta,text
0,txt,"{'created': '2024-02-06 11:00:16', 'modified':...",Date Open High Low C...

In [13]:
df.columns

Index(['filetype', 'meta', 'text'], dtype='object')

In [14]:
df['meta'][0]['created']

'2024-02-06 11:00:16'

In [15]:
df['text'][0]

            Date    Open    High      Low    Close Volume OpenInt
0     2010-07-21  24.333  24.333   23.946   23.946  43321       0
1     2010-07-22  24.644  24.644   24.362   24.487  18031       0
2     2010-07-23  24.759  24.759   24.314   24.507   8897       0
3     2010-07-26  24.624  24.624   24.449   24.595  19443       0
4     2010-07-27  24.477  24.517   24.431   24.517   8456       0
...          ...     ...     ...      ...      ...    ...     ...
1561  2017-11-07   57.29  57.346  57.1446   57.285  50935       0
1562  2017-11-08   57.31   57.55    57.22    57.49  71770       0
1563  2017-11-09   57.23   57.23    56.71  56.9265  53130       0
1564  2017-11-10   56.96   56.96  56.3909     56.4  29233       0
1565                None    None     None     None   None    None

[1566 rows x 7 columns]